* {
  margin: 0;
  padding: 0;
  font-family: "Jost", "Courier New", Courier, monospace;
  box-sizing: border-box;
  /* background: #fff7e6; */
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

#nav-placeholder {
  margin-bottom: 50px;
}

#nav-placeholder > .header {
  padding: 10px;
}

body {
  background: #f4f4f4;
  font-family: "Segoe UI";
  padding: 20px;
}

#events-container {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 0 0 calc(25% - 20px);
  background-color: #fbf8f6;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card > img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card h5 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 10px 8px 0px;
  text-align: justify;
}

.card p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4;
  margin-bottom: 20px;
  text-align: left;
  padding: 6px 8px;
}

.card .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-top: auto;
}

.price-btn {
  background-color: #ff4b4b;
  color: white;
  font-weight: bold;
  padding: 6px 16px;
  border-radius: 20px;
  border: none;
  font-size: 0.9rem;
}

.add-cartbtn {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  background-color: #fbf8f6;
  color: #000;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.add-cartbtn:hover {
  color: #ff3939;
}
