* {
  margin: 0;
  padding: 0;
  font-family: "Jost", "Courier New", Courier, monospace;
  box-sizing: border-box;
}

#nav-placeholder {
  margin-bottom: 50px;
}

#events-table {
  width: 95%;
  margin: 70px 30px;
  border-collapse: collapse;
  background: white;
}

#events-table th,
#events-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

#events-table th {
  background-color: #ff4b4b;
  color: white;
}
